.u-section-1 .u-sheet-1 {
  min-height: 812px;
}

.u-section-1 .u-shape-1 {
  width: 432px;
  height: 557px;
  background-image: none;
  margin: 38px auto 0 0;
}

.u-section-1 .u-shape-2 {
  width: 780px;
  height: 673px;
  background-image: none;
  margin: -595px 0 0 auto;
}

.u-section-1 .u-image-1 {
  width: 488px;
  height: 656px;
  object-position: 50% 50%;
  box-shadow: 0 0 25px 0 rgba(0,0,0,0.3);
  margin: -579px auto 0 82px;
}

.u-section-1 .u-group-1 {
  width: 536px;
  min-height: 614px;
  margin: -656px 45px 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 19px 40px;
}

.u-section-1 .u-text-1 {
  font-family: Oswald, sans-serif;
  line-height: 1.4;
  font-size: 3rem;
  font-weight: normal;
  margin: 0 auto 0 10px;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 700;
  font-style: italic;
  background-image: none;
  margin: 27px 10px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  margin: 37px auto 0 10px;
  padding: 10px 43px 10px 41px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-left: 42px;
  }

  .u-section-1 .u-group-1 {
    width: 373px;
    min-height: 666px;
    margin-right: 25px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 0;
    padding-left: 30px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 94px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 26px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 38px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-2 {
    width: 589px;
    height: 1313px;
  }

  .u-section-1 .u-image-1 {
    width: 595px;
    height: 677px;
    margin-top: -1221px;
  }

  .u-section-1 .u-group-1 {
    width: 521px;
    margin-top: 0;
    margin-right: 34px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 40px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    font-family: Roboto, sans-serif;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    width: 445px;
  }

  .u-section-1 .u-shape-2 {
    width: 490px;
    height: 886px;
    margin-top: -211px;
    margin-right: auto;
    margin-left: 350px;
  }

  .u-section-1 .u-image-1 {
    width: 490px;
    height: 593px;
    margin-top: -1187px;
    margin-left: 350px;
  }

  .u-section-1 .u-group-1 {
    width: 437px;
    margin-top: 43px;
    margin-right: 27px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 19px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1171px;
  }

  .u-section-1 .u-shape-1 {
    width: 316px;
    height: 582px;
    margin-top: 16px;
    margin-right: -36px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-2 {
    height: 901px;
    margin-top: -381px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    width: 308px;
    height: 409px;
    object-position: 58.35% 0%;
    margin-top: -1066px;
    margin-left: -28px;
  }

  .u-section-1 .u-group-1 {
    width: 299px;
    min-height: 641px;
    margin-top: 10px;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    line-height: 1.2;
    margin-top: 10px;
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 29px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 20px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 749px;
}

.u-section-2 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 197px 0;
}

.u-section-2 .u-gallery-1 {
  height: 423px;
  margin-top: 47px;
  margin-bottom: 60px;
  grid-gap: 17px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 97px;
    margin-right: 97px;
  }

  .u-section-2 .u-gallery-1 {
    height: 349px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1128px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-gallery-1 {
    height: 802px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2093px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1805px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1418px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 69px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 18px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1136px;
    margin-top: 49px;
    grid-gap: 17px 17px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 500px;
}